body {
    display: flex;
    flex-direction: row-reverse;
    gap: 100px;
    justify-content: center;
    background-color: beige;
}

.square {
    border: 1px solid rgba(0, 0, 0, 0.368);
    box-sizing: border-box;
}
    
.container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    padding: 0;
    margin: 0;
    align-self: center;
    background-color: aliceblue;
    border: black 3px solid;
    border-radius: 10px;
}
    



h1 {
        font-family: monospace, sans-serif;
        font-weight: bold;
        font-size: 60px;
        text-align: center;
        margin-top: 5px;
}

.menu {
        display: flex;
        flex-direction: column;
}

.sketch {
        display: flex;
        flex-direction: column;
        align-self: center;
}

button {
    width: 180px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    font-family: monospace, sans-serif;

}

button:hover {
    width: 184px;
    height: 44px;
}

input {
    width: 172px;
    height: 40px;
    border-radius: 10px;
}

.menu {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
}

.color-div {
    display: flex;
}

.ok-button {
    width: 50px;
    height: 40px;
}

.ok-button:hover {
    height: 42px;
    width: 52px;
}

#color-input {
    width: 130px;
}

.desired-square {
    display: flex;
    align-items: center;
}

#myInput {
    width: 130px;
    height: 40px;
}

p {
    font-family: monospace, sans-serif;
    font-size: 15px;
    margin-top: 4px;

}

footer {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 50px;
}